.films-list {
  &__container {
    margin: 20px;
  }
  &__title {
    margin: 0;
  }
  &__card {
    height: 300px;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }
  &__card-content {
    display: flex;
    height: 138px;
    justify-content: space-between;
  }
  &__poster {
    height: 138px;
    width: 92px;
    min-width: 92px;
    margin: 0 0 0 10px;
  }
  &__overview {
    overflow: auto;
    text-align: justify;
  }
  &__search {
    width: 300px;
  }
}
