<div class="films-item__container">
  <mat-card class="films-item__card">
    <mat-card-title>{{ filmsItem?.title }}</mat-card-title>
    <mat-card-subtitle>
      <div>
        <span>Жанры:</span>
        <span *ngFor="let genre of filmsItem?.genres; last as isLast">
          {{ genre.name }}{{!isLast ? ',' : ''}}
        </span>
      </div>
      <div>
        <span>Страны:</span>
        <span *ngFor="let country of filmsItem?.production_countries; last as isLast">
          {{ country.name }}{{!isLast ? ',' : ''}}
        </span>
      </div>
      <div>Средний рейтинг: {{filmsItem?.vote_average}}</div>
    </mat-card-subtitle>
    <img mat-card-image class="films-item__poster" [src]="'http://image.tmdb.org/t/p/w342/' + filmsItem?.poster_path">
    <mat-card-content>
      {{ filmsItem?.overview }}
    </mat-card-content>
  </mat-card>

</div>
