.films-item {
  &__container {
    width: 600px;
    margin: 20px;
  }
  &__card {
    text-align: center;
  }
  &__poster {
    width: 300px;
    height: 450px;
    display: block;
    margin: 0 auto 20px;
  }
}
